<h1>Show User</h1>

<ul>

  <li>
    <strong>Authid:</strong>
    <%= @user.authid %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Sysadmin:</strong>
    <%= @user.sysadmin %>
  </li>

  <%= for instance <- @instances do %>
    <li>Instance: <%= instance.instance_id %></li>
  <% end %>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
