@import "colors.scss";

header {
  width: 100%;
  background: $ui-background;
  border-bottom: 1px solid $ui-border;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  
  .container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  
    nav {
      // background: lime;
      flex-grow: 0;

      ul {
        list-style: none;
        padding-inline: 0.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          display: inline-block;
          margin-inline: 0.25rem;
        }
      }
    }

    h1 {
      font-size: 2.5rem;

      // background: mediumpurple;
      flex-grow: 1;
      margin: 0;

      a {
        color: $text;
        text-decoration: none;
      }
    }
  }
}