<section class="phx-hero">
  <h1>Renaissance Test Server</h1>
  <p>current revision: <em>Aethon</em></p>
</section>

<section class="row">
  <article class="column">
    <h2>Quick Links</h2>
    <ul>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/characters">Characters</a></li>
    </ul>
  </article>
  <article class="column">
    <h2>More Test Links</h2>
    <ul>
    </ul>
  </article>
</section>
